<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hola!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{asset('bundles/app/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('cara.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
         <link href="{{asset('bundles/app/js/bootstrap.min.js')}}" type="text/javascript" >
        {% endblock %}
    </body>
</html>